body{
	margin: 20px;
    font-family: Trebuchet;
    text-shadow: 1px 1px #414833;

}

.avatar {
	width: 150px;
	border-radius: 25%;
	border: 5px solid #dde5b6;
}

.card {
	width: 400px;
	margin:0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	text-align: center;
	border-bottom: 6px solid #373d20;
    color: #bcbd8b;
    background: #717744; 
    

}

.border-blue {
	border: 1px dotted blue;
}
